{{! Navbar }}
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top" />
            URL Shortener
        </a>
    </div>
</nav>

{{! Main }}
<main class="container">
    <div class="text-center main__image my-4">
        <h2>URL Shortener</h2>
        <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="Logo" class="rounded" />
    </div>
    <div class="pt-3">
        <h2>This is success page</h2>
        <div class="mb-3">
            <label for="inputURL" class="form-label">Input URL</label>
            <input type="text" class="form-control" id="inputURL" placeholder="Input URL Here" />
        </div>
        <div class="position-relative">
            <button type="text" class="btn btn-primary position-absolute end-0">COPY</button>
        </div>
    </div>
</main>