/* navbar */
.navbar__shadow {
    box-shadow: 1rem 0.5rem 1rem;
}

/* main image */
.main__image {
    width: auto;
    height: 30vw;
}
.main__image > img {
    width: 30%;
}

/* test */
.test {
    outline: 3px solid tomato;
}
